body{
    margin: 0;
    padding: 0;
    background-image: url(fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p{
    background-color: blueviolet;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    text-align: left;
    padding-left: 50px;
    padding-right: 100px;
    margin: 100px;
}

